h1{
  background-color: rgb(77, 77, 168);
  color: rgb(255, 255, 255);
text-align: center;
}
h2,h3,h4,h5,h6{
    background-color: rgb(255, 255, 255);
    color: rgb(5, 7, 8);
    list-style-type:none;

}